

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-toolbar>
    
      <ion-img src="../../assets/logo.png" class="swirl-in-bck"></ion-img>
   
      <ion-title size="large" class="ion-text-center">ARGENTINA<br>TIMES</ion-title>
   
      <p class="ion-text-center">News From Argentina</p>
   
      <ion-button class="ion-button-center" shape="round" color="primary" routerLink="/start">Ingresar</ion-button>
   
      </ion-toolbar>
    </div>
    
</ion-content>
<ion-footer id="copyrigth" class="ion-no-border">
  <p>@{{currentYear}}</p>
 </ion-footer>
